@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;

  --color-yellow: #f7be37;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


body{
    background-color: black;
}
.section__padding {
    padding: 4rem 6rem;
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app__bg {
    background: url('./assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
  
  
  
  .p__cormorant {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
  }
  
  .p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
  }
  
  .headtext__cormorant {
    font-family: var(--font-base);
    color: var(--color-yellow);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }
  
  
  
/*----------------------------------------NAVBAR-------------------------------------------------------*/
.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
  
   
  }
  
  .app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .app__navbar-logo img {
    width: 75px;
  }
  .app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
    list-style: none;
  }
  
  .app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
  }
  .app__navbar-links li a {
    text-decoration: none;
    color: white;
  }
  
  .app__navbar-links li a:hover {
    text-decoration: none;
    color: #aaaaaa;
  }
  .app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    
  }
  .app__navbar-login button {
    background-color: #000000; 
    color: white; 
    padding: 12px 20px;
    font-size: 16px; 
    font-weight: bold; 
    border: none; 
    border-radius: 8px; /* Coins arrondis */
    cursor: pointer; 
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    
  }
  .app__navbar-login button:hover {
    background-color:#f7be37; 
}
/*----------------------------------------Home-------------------------------------------------------*/
.app__header {
    background-color: black;
  }
  .app__header-h1 {
    font-family: "Cormorant Upright", serif;;
    color: #f7be37;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
  }
  .app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  min-height: 100vh;
  }
  
  .app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .app__wrapper_info p{
    font-size: 13px;
  }

 .app__wrapper_info img{
    width: 25px; 
  }
 
  
  .app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: 2rem;
  }
  .app__wrapper_img img {
    width: 100%;
  }
  
  .custom__button {
    background-color: var(--color-crimson);
      color: var(--color-black);
      font-family: var(--font-base);
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 28px;
      font-size: 16px;
      padding: 0.5rem 1.5rem;
      border-radius: 1px;
      border: none;
      outline: none;
      cursor: pointer;
  }
 /*----------------------------------------ABout us-------------------------------------------------------*/
 .app__aboutus {
    position: relative;
  }
  
  .app__aboutus-overlay {
    position: absolute;
    inset: 0;
  }
  
  .app__aboutus-overlay img {
    width: 391px;
    height: 415px;
    z-index: 0;
  }
  
  .app__aboutus-content {
    width: 100%;
    z-index: 2;
  }
  
  .app__aboutus-content_about {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  
  .app__aboutus-content_knife {
    margin: 2rem 4rem;
  }
  
  .app__aboutus-content_knife img {
    margin-top: -80px;
    height: 750px;
  }
  
  .app__aboutus-content_history {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  
    text-align: left;
  }
  
  .app__aboutus-content_about p,
  .app__aboutus-content_history p {
    margin: 2rem 0;
    color: var(--color-white);
  }
  .headtext {
    color: var(--color-yellow);
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
  }
  /*----------------------------------------Chef-------------------------------------------------------*/
  .bar{
    width: 100%;
    height: 100%;
    object-fit: contain; /* La vidéo sera entièrement visible, mais peut ne pas remplir entièrement le conteneur */
    margin-top: -20px;
  }
  
  .menu {
    width: 100%;
    height: 200%;
    object-fit: contain; /* La vidéo sera entièrement visible, mais peut ne pas remplir entièrement le conteneur */
    margin-top: -20px;
  }
  /*----------------------------------------INTRO-------------------------------------------------------*/
  .video-container {
    width: 100%; 
    height: 850px; 
    overflow: hidden; 
    position: relative; 
    margin-top: -17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  }
  
  .video-cropped {
    width: 100%; 
    height: 100%; 
    object-fit: cover;  
  }
   /*----------------------------------------GAllery-------------------------------------------------------*/
   .app__gallery {
    flex-direction: row;
  
    background: var(--color-black);
    padding: 4rem 0 4rem 6rem;
  }
  
  .app__gallery-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  
    min-width: 500px;
    padding-right: 2rem;
  }
  
  .app__gallery-content button {
    margin-top: 1rem;
  }
  .app__gallery-content h1 {
    color: var(--color-yellow);
    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
  }
  a .app__gallery-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;
  }
  
  .app__gallery-images_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .app__gallery-images_container::-webkit-scrollbar {
    display: none;
  }
  
  .app__gallery-images_card {
    position: relative;
    min-width: 301px;
    height: 750px; /* Increase the height here */
    margin-right: 2rem;
  }
  .gallery__video {
    width: 100%;
    height:175%; /* Ensures video scales with the container */
  }
  
  .gallery__image-icon {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .app__gallery-images_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s ease;
  }
  
  .app__gallery-images_card:hover img {
    opacity: 0.35;
  }
  
  .app__gallery-images_card:hover .gallery__image-icon {
    opacity: 1;
  }
  
  .app__gallery-images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0 1rem;
    position: absolute;
    bottom: 5%;
    
  }
  
  .gallery__arrow-icon {
    color: var(--color-yellow);
    font-size: 2rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
    margin-top: -400px;
  }
  
  .gallery__arrow-icon:hover {
    color: var(--color-white);
  }
  .app__gallery {
    flex-direction: row;
  
    background: var(--color-black);
    padding: 4rem 0 4rem 6rem;
  }
  
  .app__gallery-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  
    min-width: 500px;
    padding-right: 2rem;
  }
  
  .app__gallery-content button {
    margin-top: 1rem;
  }
  
  .app__gallery-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;
  }
  
  .app__gallery-images_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .app__gallery-images_container::-webkit-scrollbar {
    display: none;
  }
  
  .app__gallery-images_card {
    position: relative;
    min-width: 301px;
    height: 447px;
    margin-right: 2rem;
  }
  
  .gallery__image-icon {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .app__gallery-images_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s ease;
  }
  
  .app__gallery-images_card:hover img {
    opacity: 0.35;
  }
  
  .app__gallery-images_card:hover .gallery__image-icon {
    opacity: 1;
  }
  
  .app__gallery-images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 0 1rem;
    position: absolute;
    bottom: 5%;
  }
  
  .gallery__arrow-icon {
    color: var(--color-yellow);
    font-size: 2rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
  }
  
  .gallery__arrow-icon:hover {
    color: var(--color-white);
  }
  .map__container iframe {
    width: 600px ; 
    height: 500px;
  }
  .app__wrapper_info h2{
  color: var(--color-yellow);
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
}
.app__wrapper_info h4{
    color: var(--color-white);
    font-size: 20px;
  }
    
  

      
  /*----------------------------------------TIME table-------------------------------------------------------*/
  .img-container {
    width: 100%; /* Largeur du conteneur */
    height: 850px; /* Hauteur du conteneur */
    overflow: hidden; /* Cache la partie de la vidéo qui dépasse */
    position: relative; /* Position relative pour utiliser object-fit */
    margin-top: -17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Ombre floue autour de l'élément */
  }
  
  .img-cropped {
    width: 100%; /* La vidéo remplit toute la largeur du conteneur */
    height: 100%; /* La vidéo remplit toute la hauteur du conteneur */
    object-fit: cover; /* La vidéo couvre entièrement le conteneur, en coupant les parties qui débordent */
  }
  
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 5450px;
    transform: translateX(-50%);
    width: 35%;
    height: auto;
  }
    /*----------------------------------------footer-------------------------------------------------------*/
    .app__footerOverlay {
        width: 90%;
        height: 50%;
        z-index: 1;
    
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    
    .app__footerOverlay-black {
        height: 25%;
        background: var(--color-black);
    }
    
    .app__footerOverlay-img {
        height: 75%;
    }
    .app__newsletter {
        padding: 2rem 4rem;
        border: 1px solid var(--color-yellow);
        background: var(--color-black);
    }
    .app__newsletter-heading h1{
        color: var(--color-yellow);
        font-size: 70px;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    
    }
    
    .app__newsletter-heading {
        text-align: center;
    }
    
    .app__footer {
        width: 100%;
        position: relative;
        z-index: 1;
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    
        background: var(--color-black);
        padding-top: 0;
    }
    
    .app__footer-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
        margin-top: 5rem;
        padding: 0 2rem;
    }
    
    
    .app__footer-links_work {
        flex: 1;
        margin: 1rem;
        text-align: center;
    }
    
    .app__footer-links_logo img:first-child {
        width: 210px;
        margin-left: 200px;
    }
    .app__footer-links_logo p:first-child {
        width: 210px;
        margin-left: 300px;
    }
    
   
    
   

    
    .app__footer-headtext {
        font-family: var(--font-base);
        color: var(--color-white);
        font-weight: 400;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-size: 32px;
        line-height: 41.6px;
        
    }
    
    .footer__copyright {
        margin-left: 420px;
       color: white;
    }
    a {
        text-decoration: none; /* Optionnel : enlève le soulignement par défaut */
        color: inherit; /* Optionnel : hérite de la couleur du texte du parent */
      }
      
      a:hover {
        text-decoration: underline; /* Ajoute un soulignement lors du survol */
      }
      .hidden {
        display: none;
      }
      
      .login-popup {
        position: fixed;
       
        
        margin-left: 570px;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }
      
      .login-popup-container {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
      
      .login-popup-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }
      
      .close-popup {
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
      }
      
      .login-popup-inputs input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      button[type="submit"] {
        background: #333;
        color: #fff;
        border: none;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
      }
      
      button[type="submit"]:hover {
        background: #555;
      }
      
      .login-popup-condition {
        display: flex;
        align-items: center;
        margin: 10px 0;
      }
      
      .login-popup-condition p {
        font-size: 0.9rem;
        margin-left: 10px;
      }
      
      .clickable {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
      }
      